.container {
  position: relative;
}

.navbar {
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  margin-block-end: 1rem;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: translateY(32px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-32px);
  transition: opacity 300ms, transform 300ms;
}
